<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset='UTF-8' />
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Shannon L Capper">
    <meta name="description" content="Quick sudoku solver app. Just plug in the tiles you know, and you will have the solution at your fingertips.">
    <title>Sudoku Solver</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="jquery.js" type="text/javascript"></script>
    <script src="jquery.caret-1.5.2.min.js" type="text/javascript"></script>
    <script src="script.js" type="text/javascript"></script>
    
  </head>
  <body>
  	<header><h1>Sudoku Solver</h1></header>
  	<main>
    	<%= yield %>
    </main>
  </body>
</html>