<h3>Fill in any known tiles in the template below</h3>
<form action="/solution" method="post" autocomplete="off">
	<table>
		<% 9.times do |row| %>
			<tr>
				<% 9.times do |column| %>
					<td>
					<% if original && original[row][column] != "." %>
						<input class="slot highlight" type="text" pattern="[1-9]" maxlength="1" name=<%= row.to_s + "-" + column.to_s %> value=<%= original[row][column] %> >
					<% else %>
						<input class="slot" type="text" pattern="[1-9]" maxlength="1" name=<%= row.to_s + "-" + column.to_s %> value="">
					<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>

	<button type="submit">Solve</button>
	<button type="reset">Reset</button>
</form>