* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;

}

html {
	background: #272727; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#151515, #272727); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#151515, #272727); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#151515, #272727); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#151515, #272727); /* Standard syntax */
    background-repeat: repeat-x;
}

body {
	font-size: 1.2rem;
	padding: 20px;
	color: #bc893f;
	text-align: center;
    min-width: 18rem;
}

body,
td input,
button,
a {
	font-family: 'Architects Daughter', cursive;
}

header {
	margin: 10px auto 20px;
	padding: 10px 30px;
	border: 2px dashed #a95b00;
	border-radius: 1rem;
	max-width: 40rem;
	text-align: center;

}
h1 {
	margin: 0;
	padding: 0;
	font-size: 4rem;
	font-family: 'Fredericka the Great', cursive;
	font-weight: normal;
}

h3 {
	font-weight: normal;
	font-size: 1.5rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

table {
	margin: 0 auto;
	padding: 0;
	border-collapse: collapse;
	background-color: rgba(255,255,255,0.1);
	border: 5px solid #a95b00;
}

tr {
	margin: 0;
	padding: 0;
	border-bottom: #bc893f 1px solid;
}

tr:nth-of-type(3n) {
	border-bottom-width: 3px;
}

td {
	
	border-right: #bc893f 1px solid;
	width: 2.0833em;
	height: 2.0833em;
	margin: 0;
	padding: 0;
	vertical-align: center;
	overflow: hidden;
}

td, td input {
	box-sizing: content-box;
	font-family: 'Handlee', cursive;
	font-size: 1rem;
	font-weight: bold;
	color: white;
}

td:nth-of-type(3n) {
	border-right-width: 3px;
}

td input {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	border-radius: 0;
	padding: 0;
	text-align: center;
	width: 101%;
	height: 101%; /*to prevent thin margin between borders and field*/
	overflow: hidden;
	margin: auto;
	vertical-align: center;
	border: none;
	background-color: transparent;
	
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
	-moz-appearance: textfield;
}


@media only screen and (min-width: 600px) {
	td, td input {
		font-size: 1.5rem;
	}

	td {
		width: 3.125rem;
		height: 3.125rem;
	}
}

td input:focus, .highlight {
	background-color: rgba(255,255,255,0.2);
}

td input:focus {
	outline: none;
	box-shadow: none;
}

/*button, a {
	margin: 10px 20px 0px;
	padding: 10px 30px;
	background-color: transparent;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: bold;
	border: 2px #bc893f dashed;
	border-radius: .5rem;
	color: #bc893f;
	transition: color .4s, background-color .4s, border-color .4s, border-style .4s;
}

a {
	display: block;
	max-width: 300px;
	margin: 30px auto;
	text-decoration: none;
}

button:hover,
button:active,
a:hover,
a:active {
	border-style: solid;
	color: #272727;
}

button:hover, a:hover {
	background-color: #bc893f;
}

button:active, a:active {
	background-color: #a95b00;
	border-color: #a95b00;
	transition: background-color 0s, color 0s, border-color 0s, border-style 0s;
}*/

#message {
	margin-bottom: 10px;
}

button {
  color: #272727;
  background-color: rgba(188,137,63,.7);
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
button:before,
button:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
button:before {
  border-color: #bc893f;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}
button:after {
  border-bottom-width: 2px;
  border-color: #bc893f;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}
button:hover,
button.hover {
  background-color: #bc893f;
}
button:hover:before,
button.hover:before,
button:hover:after,
button.hover:after {
  height: 100%;
  width: 100%;
}

button:active {
	background-color: #a95b00;
}

button:active:before,
button:active:after {
	border-color: #a95b00;
}